.bg-image {
  width: 100vw;
  height: auto;
  background-size: cover;
}

.image-frame {
  position: relative;
}

.speech {
  position: absolute;
  font-family: 'Comfortaa', cursive;
  font-size: 3rem;
  padding: 1.5em;
  width: 80%;
  letter-spacing: 0.04em;
  text-shadow: #ffffff 0 0 10px;
}

@media screen and (max-width: 1024px) {
  .speech {
    font-size: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .speech {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 414px) {
  .speech {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .speech {
    font-size: 0.7rem;
  }
}
